<%@page pageEncoding="UTF-8" %>
<link rel="stylesheet" type="text/css" href="${ctx}/css/bootstrap.css" />
<link rel="stylesheet" type="text/css" href="${ctx}/css/bootstrap-datetimepicker.css"/>
<link rel="stylesheet" type="text/css" href="${ctx}/css/common.css" />
<script type="text/javascript">
    var ctxPath = "${ctx}";
    var basePath = "${htx}";
</script>
<script type="text/javascript" src="${ctx}/js/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="${ctx}/js/bootstrap.js"></script>
<script type="text/javascript" src="${ctx}/js/bootstrap-datetimepicker.js"></script>
<script type="text/javascript" src="${ctx}/js/bootstrap-datetimepicker.zh-CN.js"></script>
<script type="text/javascript" src="${ctx}/js/jquery.pager.js"></script>
<script type="text/javascript" src="${ctx}/js/common.js"></script>