form.lookup .form-btn-bar{margin:0.4em auto;text-align:center;}

.action-bar{text-align:right;}

.pager-form{margin-top:0.5em;}
.pager-form .pagination{margin:0em;}
.pager-form .pager-list li{cursor:pointer;}

.modal .modal-loading{display:none;width:64px;height:64px;margin:0em auto;background-image:url(../img/loading.gif);background-size:100% 100%;}
.modal.loading .modal-loading{display:block;}
.modal.loading .modal-body{display:none;}