body,p,b,dl,dd,table,td,th,input,img,form,div,ul,li{margin:0px;padding:0px;} 
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/*--------------------------list----------------------------*/
#list_all{
     width: 100%;
}
#list_all .description{margin:0.4em 1em;color:blue;font-size:12px;}
#list_all .list_1{padding: 5px 0px 5px 0px;}
#list_all .list_1 .list_info{ width: 86%; margin:0px auto;}
#list_all .list_1 .list_info .logo{width: 10px; float: left;margin-top: 4px;}
#list_all .list_1 .list_info .title{float: left; margin-left: 10px; margin-top: 5px;}
#list_all .list_1 .list_info .yx{font-family: "Microsoft YaHei" ! important;text-align: left; font-size: 14px;}
#list_all .list_1 .list_info .yx a{text-decoration: none; color: #000000;}
#list_all .list_1 .list_info .count{float: right;}
#list_all .list_1 .link_lines{height: 1px; clear: both;margin: 5px auto;}
#list_all .list_1 .link_line{height: 1px; clear: both;margin-top: 5px;}
#list_foot{text-align: center; color: #777777;margin-top:5px auto; font-size: 10px;clear: both;}

#all{background-color: #F3F3F5;width:100%;}
.middle{margin-top:5px;text-align:center;}
.bg{background-color: #FFFFFF;line-height:200%;}
.btn1{padding-left:16px;width: 14px;padding-top: 5px;}
.btn2{font-size: 14px;padding-left: 5px;text-align:left;}
.btn3{ align:right;padding-top:5%;padding-left: 50px;padding-right: 10px; }

.total{background-color: #FFFFFF;width:100%;}
.d_middle{background-color: #EEEEEE;width:90%;margin:0px auto; margin-top: 5%; border-color: #d5d5d6;}
.info{margin-left: 15px;}
.info ul{list-style-type:none; padding-top: 20px; font-family: "Microsoft YaHei";}
.info .uli{ height:30px; valign:middle; padding-top: 2px;}
.uli_hr{height:28px; valign:middle; padding-top: 2px;width: 95%;}
hr{color: #d9d9d9;}
.ts{background-color: #fcfcfc;margin:0px auto; font-family: "Microsoft YaHei";color: #a2ae97; width:96%;}
.ts_1{margin-top: 4px;}
.foot{width:90%;margin:0px auto; }

.s_all{background-color:#f0f0f0 ;width:100%;}
.s_middle{background-color:#FFFFFF ;width:95%;margin:0px auto;height: 300px;}
.s_1{float: left;}
.s_2{float: left;}
.s1{width: 50%;}
.s2{width: 50%;}

/*--------------------------login----------------------------*/
#login_all{ width: 100%;}
#login_all #login_head{ background-color: #d5e7f8;text-align: center;height:40px;vertical-align: middle; }
#login_all #login_head .login_wz{padding-top:10px;height:40px; color: #5da1d4;font-family: "Microsoft YaHei";}
#login_all #login_middle{width: 90%; margin: 25px auto;}
#login_all #login_middle .pc_phone{background-image:url(../images/login_28.png); background-size: 100% 100%; width:100%;background-repeat: no-repeat; }
#login_all #login_middle .pc_phone .pc_icon{width: 8%;float: left;  margin-top:10px; margin-left: 8px;height: 16px;}
#login_all #login_middle .pc_phone .line_icon{float: left;}
#login_all #login_middle .txt_phone{float:left;width:50%;height:28px; margin-left: 6px; margin-top: 6px;}
#login_all #login_middle .yz_phone{float:left;width:50%;height:28px; margin-left: 6px; margin-top: 6px;}
#login_all #login_middle .smg{ margin-top: 3px; width: 100%;}
#login_all #login_middle  .btn{font-size:12px;cursor:pointer;float:right; margin:0 6px;background-image:url(../images/login_smg.png); background-size: 100% 100%; background-repeat: no-repeat; width: 27%;height: 28px;border: 0px none;}
#login_all #login_middle  .btn.disable{cursor:not-allowed;background-image:url(../images/login_smg.disable.png)}
#login_all #login_foot{width: 100%; margin: 40px auto;background-color:inherit;}
#login_all #login_foot .send_btn{background-image:url(../images/login_38.png);background-color:inherit; background-size: 100% 100%; background-repeat: no-repeat; width: 100%;height: 40px;border: 0px none;}
#login_all #login_middle .m_3_4 {
   clear:both; margin-left: 75px; height: 12px;  display: none; font-size: 12px; margin-top: 5px;
}